<!-- day 1 - 2- 3 -->
<p>hi works!</p>
<p>Name: {{user.name}}</p>
<p>Age: {{user.age}}</p>
<input [type]="typeText" [value]="user.name"> <br>
<button (click)="handle()" type="button">click</button> <br>
<input type="text" [(ngModel)]="user.name" />
 <!-- day 4 -->
 <h3>*ngIf</h3>
<button (click)="user.age = user.age -1">-</button>
<span> Age: {{ user.age }} </span>
<button (click)="user.age = user.age +1">+</button>

<div *ngIf="user.age >= 18; else noPG13">
    Bạn <b style="color: green;">CÓ</b> thể xem nội dung PG-18
</div>
    <!-- định nghĩa phần else -->
<ng-template #noPG13>
  <div>Bạn <b style="color: red;">KHÔNG</b> thể xem nội dung PG-18</div>
</ng-template>

  <!-- day 5 -->
<h3>*ngFor</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    <ng-container  *ngIf="users.length > 0; else notUser">
            <tr *ngFor="let u of users">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
            </tr>
    </ng-container>

    <ng-template #notUser>
        <tr>
            <td colspan="4">
                <b style="color: red; text-align: center; display: block;">Không có user để hiển thị</b>
            </td>
        </tr>
    </ng-template>

</table>

